.loaderBackground {
    z-index: 10;
    background-color: #00000097;
    position: absolute;
    width: 100vw;
    height: 89vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    display: inline-flex;
    gap: 15rem;
}

.loader:before, .loader:after {
    content: "";
    height: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side,#000 95%,#0000) 35% 35%/2rem 2rem no-repeat
        #fff;
    transform: scaleX(var(--s,1)) rotate(0deg);
    animation: l6 1s infinite linear;
}

.loader:after {
    --s: -1;
    animation-delay:-0.1s;
}

@keyframes l6 {
    100% {transform:scaleX(var(--s,1)) rotate(360deg);}
}