.loginFormArea {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginFormRaw {
    height: 10vh;
    margin-bottom: 5vh;
    font-weight: bold;
    width: 40vw;
    display: flex;
    align-items: center;
}

.loginFormTitle {
    width: 13vw;
    display: inline-block;
}

.email, .password, .text {
    padding: 0.5vh 0.5vw;
    font-size: 0.8rem;
    width: 24vw;
    height: 5vh;
}

.formButton {
    margin-right: 1vw;
    font-size: 1rem;
    font-weight: bold;
    width: 39vw;
    height: 6vh;
}
