.statusBar {
    height: 8vh;
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

.statusArea {
    margin: 1vh 1vw 0 auto;
    display: flex;
    align-items: center;
}

.statusResponse {
    height: 6.5vh;
    width: 6.5vh;
    margin-right: 1vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
}